// blink (infinite)
@keyframes blink {
    49%, 51% {
        height: 1.4rem;
    }

    50% {
        height: 0.2rem;
    }
}


// shake
.bird.shake {
    animation: shake .5s forwards;
    animation-iteration-count: 1;

    @keyframes shake {
        20% {
            transform: translate(2%);
        }

        40% {
            transform: translate(-2%);
        }

        60% {
            transform: translate(2%);
        }

        80% {
            transform: translate(-2%);
        }
    }
}

// jump
.bird.jump {
    animation: jump .7s forwards;
    animation-iteration-count: 1;

    @keyframes jump {
        20% {
            transform: translate(-3%, -20%);
        }

        40% {
            transform: translate(0%);
        }

        60% {
            transform: translate(3%, -20%);
        }

        80% {
            transform: translate(0%);
        }
    }
}

// jump and stretch
.bird.stretch1 {
    animation: stretch1 2.2s linear;
    animation-iteration-count: 1;

    @keyframes stretch1 {
        5%, 35% {
            transform: translate(0, -300%);
        }

        40% {
            transform: translate(0, 6rem) scale(2, 0.3);

        }

        75% {
            transform: translate(0, 6rem) scale(2, 0.3);

        }

        76% {
            transform: translate(-4%, 6rem) scale(2, 0.3);

        }

        79% {
            transform: translate(4%, 6rem) scale(2, 0.3);

        }

        82% {
            transform: translate(-4%, 6rem) scale(2, 0.3);

        }

        85% {
            transform: translate(4%, 6rem) scale(2, 0.3);

        }

        88% {
            transform: translate(-4%, 6rem) scale(2, 0.3);

        }

        93% {
            transform: translate(0) scale(1.6);

        }

        100% {
            transform: translate(0) scale(1);

        }
    }
}

// stretch
.bird.stretch2 {
    animation: stretch2 2s forwards;
    animation-iteration-count: 1;

    @keyframes stretch2 {
        60% {
            transform: scale(1, 2.2);
            transform-origin: 50% 70%;
        }

        70% {
            transform: scale(1, 0.7);
            transform-origin: 50% 70%;
        }

        75% {
            transform: scale(1, 1.6);
            transform-origin: 50% 70%;
        }

        80% {
            transform: scale(1, 0.8);
            transform-origin: 50% 70%;
        }

        85% {
            transform: scale(1, 1.2);
            transform-origin: 50% 70%;
        }

        90% {
            transform: scale(1);
        }
    }
}

// flower
.bird.flower {

    .bird__flower {
        opacity: 1;
        transform: translateY(5rem);
        transition: all 1s ease;
    }

    .cheeks {
        opacity: 1;
        transition: all 1s ease;
        transition-delay: .8s;
    }

    .bird__head::after {
        opacity: 1;
    }

    .bird__head,
    .bird__body {
        box-shadow: 0 0 40rem magenta;
        transition: all 1s ease;
        transition-delay: .8s;
    }

    // .bird__bg-overlay {
    //     background-color: hsla(350, 100%, 88%, 0.5);
    //     transition: all 1s ease;
    //     transition-delay: .8s;
    // }
}

// slide
.bird.sliding {
    animation: sliding 1.2s forwards;
    animation-iteration-count: 1;

    .scarf {
        opacity: 1;
        transition-delay: 0.7s;
    }

    @keyframes sliding {
        40% {
            transform: translateX(-200%);
        }

        41% {
            opacity: 0;
        }

        42% {
            opacity: 0;
            transform: translateX(-200%);
        }

        50% {
            opacity: 0;
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .bird__snow {

        @for $i from 1 through 3 {
            span:nth-child(#{$i}) {
                position: absolute;
                top: -10rem;
                left: 4.2rem * ($i * 1.1);
                width: 1.5rem;
                height: 1.5rem;
                background-color: white;
                border-radius: 50%;
                opacity: 0;
                animation: snowing#{$i} 1.5s linear forwards;
                animation-delay: 0.4s * $i;
            }

            @keyframes snowing#{$i} {
                0% {
                    top: -15rem;
                }
    
                100% {
                    opacity: 1;
                    top: 14rem;
                }
            }
    
            @keyframes snowing2 {
                0% {
                    top: -10rem;
                }
    
                80% {
                    opacity: 1;
                    top: -0.2rem;
                    transform: none;
                }
    
                100% {
                    opacity: 1;
                    top: 1rem;
                    transform: scaleX(1.5);
                }
            }           
        }        
    }
}

// incline
.bird.incline {
    .bird__head {
        animation: incline 1.7s;
        animation-iteration-count: 1;

        &::after {
            opacity: 0;
        }

        @keyframes incline {
            40%, 60% {
                transform: translate(3rem, 0.6rem) rotate(23deg);
            }
        }
    }

    .bird__question {
        animation: question 1.7s;
        animation-iteration-count: 1;

        @keyframes question {
            50% {
                opacity: 1;
            }

            70% {
                opacity: 0;
            }
        }
    }
}

// glasses
.bird.glasses {

    .bird__glasses {
        animation: glasses 1.8s ease 1 forwards;

        @keyframes glasses {
            80%, 100% {
                opacity: 1;
                top: 2rem;
            }
        }
    }

    .bird__head,
    .bird__body {
        animation: b-colors 1.8s ease 1;

        @keyframes b-colors {
            79%, 90% {
                box-shadow: none;
            }

            80%, 100% {
                box-shadow: inset -1rem 1rem 1rem gold;
            }          
        }
    }
}

// forward
.bird.forward {
    animation: forward 1.5s ease forwards;

    @keyframes forward {
        2% {
            transform: translateY(-2rem) scale(1.1);
            transform-origin: center;
        }
    
        20% {
            transform: translateY(2rem) scale(1.2);
            transform-origin: center;
        }
    
        22% {
            transform: translateY(-2rem) scale(1.35);
            transform-origin: center;
        }
    
        40% {
            transform: translateY(2rem) scale(1.5);
            transform-origin: center;
        }
    
        42% {
            transform: translateY(-3rem) scale(1.7);
            transform-origin: center;
        }
    
        60% {
            transform: translateY(3rem) scale(1.95);
            transform-origin: center;
        }
    
        62% {
            transform: translateY(-3.5rem) scale(2.3);
            transform-origin: center;
        }
    
        80% {
            transform: translateY(3.5rem) scale(2.7);
            transform-origin: center;
        }
    
        82% {
            transform: translateY(-4rem) scale(3.2);
            transform-origin: center;
        }
    
        100% {
            transform: translateY(4rem) scale(3.7);
            transform-origin: center;
        }
    }
}
