@use "animation";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: hsl(53, 91%, 91%);
}

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.container {
    width: 50rem;
    height: 50rem;
    margin: auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bird {
    position: relative;
    margin-top: 5rem;
    width: 20rem;
    height: 20rem;
    z-index: 2;
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor: pointer;

    &__head {
        position: absolute;
        width: 10rem;
        height: 6.5rem;
        top: 1rem;
        left: 5rem;
        background-color: white;
        border-radius: 5rem 5rem 0.7rem 0.7rem;

        .beaks {
            position: absolute;
            top: 2.4rem;
            left: 3.4rem;
            z-index: 2;

            %beak {
                border-right: 1.6rem solid transparent;
                border-left: 1.6rem solid transparent;
            }

            .upper-beak {
                border-bottom: 1.6rem solid rgb(209, 0, 0);
                @extend %beak;
            }

            .lower-beak {
                border-top: 1.2rem solid rgb(190, 0, 0);
                @extend %beak;
            }
        }

        .eyes {
            %eye {
                position: absolute;
                top: 2.4rem;
                width: 1.7rem;
                height: 1.4rem;
                background-color: hsl(0, 0%, 17%);
                border-radius: 50%;
                animation: blink 5s both;
                animation-iteration-count: infinite;
            }

            .left-eye {
                @extend %eye;
                left: 1.2rem;
                transform: rotate(10deg);
            }

            .right-eye {
                @extend %eye;
                right: 1.2rem;
                transform: rotate(-10deg);
            }
        }

        .cheeks {
            opacity: 0;
            z-index: 5;

            %cheek {
                position: absolute;
                top: 4.2rem;
                width: 2rem;
                height: 1.2rem;
                border-radius: 50%;
                background-color: hsla(350, 100%, 88%, 0.5);
            }

            .left-cheek {
                @extend %cheek;
                left: 8%;
            }

            .right-cheek {
                @extend %cheek;
                right: 8%;
            }
        }
    }

    
    &__body {
        position: absolute;
        top: 5rem;
        left: 3rem;
        width: 14rem;
        height: 14rem;
        border-radius: 50% 50% 40% 40%;
        background-color: white;
        box-shadow: 0 0 2rem 0 hsla(0, 0%, 45%, 0.1);
        z-index: -1;

        .scarf {
            opacity: 0;

            span {
                position: absolute;

                &:first-child {
                    top: 0;
                    left: 0.5rem;
                    width: 13rem;
                    height: 6rem;
                    background-color: rgb(66, 194, 194);
                    border-radius: 3rem 3rem 50% 50%;

                    &::after {
                        content: "";
                        position: absolute;
                        top: -1rem;
                        left: 1.5rem;
                        width: 10rem;
                        height: 5rem;
                        background-color: white;
                        border-radius: 50%;
                        z-index: 2;
                    }
                }

                &:nth-child(2) {
                    top: 3.2rem;
                    right: 1.5rem;
                    width: 2.3rem;
                    height: 4.3rem;
                    background-color: rgb(66, 194, 194);
                    border-radius: 0.5rem;
                    transform: rotate(-18deg);
                }

                &:last-child {
                    top: 6.7rem;
                    right: 1.7rem;
                    width: 0.5rem;
                    height: 1.5rem;
                    background-color: rgb(66, 194, 194);
                    border-radius: 0.3rem;
                    transform: rotate(-18deg);

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        width: 0.5rem;
                        height: 1.5rem;
                        border-radius: 0.3rem;
                        background-color: rgb(66, 194, 194);
                    }

                    &::before {
                        right: 0.9rem;
                    }

                    &::after {
                        left: 0.9rem;
                    }
                }
            }
        }
    }

    &__flower {
        position: absolute;
        top: -6rem;
        left: 4rem;
        width: 4.6rem;
        height: 4.6rem;
        background: url(../image/flower.svg) no-repeat;
        background-size: cover;
        opacity: 0;
    }

    &__glasses {
        position: absolute;
        top: -6rem;
        left: 1.8rem;
        width: 16rem;
        height: 3rem;
        background-image: url(https://res.cloudinary.com/du1fb00fv/image/upload/v1652884629/my%20pictures/glasses_lwsplo.png);
        background-size: cover;
        opacity: 0;
    }

    &__question {
        position: absolute;
        top: -2rem;
        left: 4.6rem;
        font-size: 5rem;
        color: rgb(250, 142, 92);
        transform: rotate(-16deg);
        opacity: 0;
    }
}